<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Trucking Platform</title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
  </head>
  <body class="min-h-screen bg-gray-50 text-gray-900">
    <%= @inner_content %>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
  </body>
  </html>
